/* BASE STYLES */
body {
  padding-top: 50px;
  background: #f7f7f7;
  perspective: 800px; }

.wrap {
  position: relative;
  margin: 0 auto;
  width: 250px;
  height: 350px;
  cursor: pointer; }
  .wrap div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: 50% 50%;
    background-size: 150px;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3), 0 12px 20px -10px rgba(0, 0, 0, 0.4);
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font: bold 3em sans-serif;
    line-height: 350px; }

.side-a {
  background: #498FBC; }

.side-b {
  background: #33363b; }

/*puts side b, behind side a */
.wrap div {
  position: absolute;
  /*hides backside of element in 3d space */
  backface-visibility: hidden; }

.side-a {
  z-index: 100; }

.side-b {
  /*rotates the backside card around */
  transform: rotateY(-180deg); }

.wrap {
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d; }

.wrap:hover {
  /*Rotate */
  transform: rotateY(180deg);
  /*transform: rotate3d(x,y,z,deg) */
  /*Translate */
  /*Scale */ }
