/* Sass Document */
div {
  height: 100px;
  width: 100px;
  margin: 4em auto; }
  div span {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #46b7d5; }

div:hover span {
  /*Set Animation Presets */
  animation-name: scale-up;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.77, -0.33, 0.29, 1.37);
  animation-iteration-count: infinite; }

/*Actual Animation */
@keyframes scale-up {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(2); }
  100% {
    transform: scale(0); } }
