/* 3d Flip Test X */
.container {
  perspective: 700px;
  perspective-orgin: 80% 50%;
  margin: 0 auto;
  text-align: center; }

.flip-animation {
  display: inline-block;
  position: relative;
  /* */
  transition: transform 3s cubic-bezier(0.77, -0.33, 0.29, 1.37);
  transform-style: preserve-3d; }
  .flip-animation:hover {
    cursor: pointer;
    transform: rotate3d(1, 0, 0, 180deg); }

.side-a, .side-b {
  backface-visibility: hidden; }

.side-b {
  height: 300px;
  width: 300px;
  background-color: tomato;
  line-height: 300px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: rotateX(180deg); }
